*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #a09b9b;
}


.box{
    min-width: 400px;
    width: 400px;
    margin: 20px auto auto auto;
    background-color: white;
    border-radius: 15px;
    padding: 20px 20px;
    box-shadow: black 2px 2px 5px;
}
.container{
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
}
.container h1{
    text-align: center;
    font-weight: bolder;
    margin-bottom: 20px;
}

.container img{
    width: 100%;
}



.inputContainer{
    margin: auto;
    display: block;
    margin: 10px auto 10px auto;
    width: 100%;
    height: 30px;
}
.inputContainer label.symbol{
    background-color: #837a7a;
    color: white;
    height: 100%;
    width: 10%;
    line-height: 30px;
    text-align: center;
    float: left;
    font-size: 20px;
}
.inputContainer input{
    float: left;
    height: 100%;
    width: 90%;
    margin: 0px;
}
input{
    width: 100%;
    padding: 5px 5px 5px 15px;
    font-size: 17px;
    margin-bottom: 10px;
}

input[type=submit]{
    background-color: #706d6d;
    border: none;
    color: white;
    font-size: 130%;
}
input[type=submit]:hover{
    background-color: #4d4848;
    box-shadow: black 2px 2px 5px;
    cursor: pointer;
}

.out{
    margin: 10px 0px;
    display: block;
    height: 30px;
    background-color: #e6e6e6;
}
.out span.titleResult{
    border-right: solid gray 1px;
    display: block;
    float: left;
    height: 100%;
    padding: 5px 20px 5px 15px;
    background-color: #7a7a7a;
    color: white;
}
.out span.spanResult{
    display: block;
    padding: 5px 5px 5px 20px;
    float: left;
    height: 100%;
}
h2{
    text-align: center;
}

.container .error{
    background-color: rgb(248, 78, 63);
    color: white;
    text-align: center;
    border-radius: 5px;
}

